[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
flasgger = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"

[packages]
flask = "*"
flask-cors = "*"
python-dotenv = "*"
gunicorn = "*"
sqlalchemy = "*"
pg8000 = "*"
dataclasses = "*"
flask-compress = "*"
flasgger = {file = "https://github.com/rochacbruno/flasgger/tarball/master"}

[requires]
python_version = "3.6"

[scripts]
deploy = "gunicorn --bind 0.0.0.0:5000 app:app"
lint = "pycodestyle --first app.py bookmark/ tests/"
lint-show = "pycodestyle --show-source --show-pep8 app.py bookmark/ docs/"
test = "python -m pytest -p no:warnings"
coverage = "python -m pytest -p no:warnings --cov=bookmark"
coverage-report = "python -m pytest -p no:warnings --cov=bookmark --cov-report=html"